.wrapper {
  position: absolute;
  top: 289px;
  left: 50%;
  transform: translateX(-50%);

  width: 150px;
  height: 100px;
  z-index: 11;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.hidden {
  opacity: 0;
}

.timerWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 7px 12px;

  background: linear-gradient(#240F66, #240F66) padding-box, linear-gradient(180deg, #F7BA59 0%, #E849F0 27.4%, #8463FB 60.58%, #3588FD 79.33%, #04D4F9 100%) border-box;
  border-radius: 999px;
  border: 1px solid transparent;

  z-index: 2;
}

.timerPill {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  column-gap: 8px;

}

.timerSVG {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.timerText {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
}

.timerDot {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;

  opacity: 1;
  transition: opacity 0.5s linear;
  animation: dotAnimation 2s linear infinite;
}

@keyframes dotAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }

  33% {
    transform: translateX(-50%) scale(0.5);
  }

  66% {
    transform: translateX(-50%) scale(1);
  }

  100% {
    transform: translateX(-50%) scale(1);
  }
}

.wrapper:hover .timerDot {
  opacity: 0;
  transform: translate(-50%);
}

.timeText {
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translate(-50%, 30%);

  padding: 16px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  background: linear-gradient(#240F66, #240F66) padding-box, linear-gradient(180deg, #F7BA59 0%, #E849F0 27.4%, #8463FB 60.58%, #3588FD 79.33%, #04D4F9 100%) border-box;
  border-radius: 999px;
  border: 1px solid transparent;

  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s linear, transform 0.5s linear;
}

.wrapper:hover .timeText {
  opacity: 1;
  transform: translate(-50%, 0);
}

.textHeader {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.textParagraph {
  color: #FFF;

  font-family: Inter;
  font-size: 16px;
  line-height: 126%;
  white-space: nowrap;
}

.timerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 44px;
}

.timerValue {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}

.timerLabel {
  color: #FFF;

  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.timerSeparator {
  margin: 0 -4px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  align-self: start;
  padding-top: 2px;
}