.wrapper {
  position: relative;
  overflow: hidden;
  width: 212px;
  height: 212px;
  border-radius: 999px;
}

.imageTopWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.imageEclipse {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;

}

.eclipseGIF {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 999px;
  z-index: 1;
}

.imageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 394px;
  aspect-ratio: 4/3;
  border-radius: 999px;

}



.imageEclipseGradient {
  position: absolute;
  width: 100%;
  aspect-ratio: 4/3;
  z-index: 2;

}

.image {
  position: absolute;
  width: 100%;
  aspect-ratio: 4/3;
  z-index: 1;
}

.textWrapper {}

.icon {}

.text {}