.wrapper {
  position: absolute;
  top: 17px;
  left: 17px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px 60px;

  border: 1px solid #434343;
  background: rgba(40, 40, 40, 0.4);
  backdrop-filter: blur(30px);

  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s linear, transform 0.6s linear;
  z-index: 5;
}

.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.logoWrap {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.logoIcon {
  width: 109px;
  height: 52px;
  flex-shrink: 0;
}

.logoText {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 124%;
}

.textWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.textIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 126%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 343px;
    top: 18px;
    left: 50%;
    padding: 12px;
    gap: 8px;
    transform: translateX(-50%) translateY(0);
  }

  .hidden {
    transform: translateX(-50%) translateY(-100%);
  }

  .logoIcon {
    width: 68px;
    height: 32px;
  }

  .logoText {
    font-size: 18px;
    line-height: 120%;
  }

  .textIcon {
    width: 16px;
    height: 16px;
  }

  .text {
    font-size: 14px;
    line-height: 116%;
  }
}